@import "../node_modules/bootstrap/scss/functions";
$enables-rounded: false;
$enables-shadows: true;
//theme colour
$primary: rgb(13, 31, 226);
$secondary: rgb(103, 172, 180);
$dark: rgb(0, 0, 0);
$light: rgb(255, 255, 255);
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
//custom colour
$custom-colour: ( "primary-light": rgb(10, 124, 255), "secondary-light": rgb(103, 172, 180));
// merge colours
$theme-colors: map-merge($theme-colors, $custom-colour);
@import "../node_modules/bootstrap/scss/bootstrap.scss";